<!DOCTYPE html>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        This is registration page

        <form action="?" method="post" name="Registration_form">
            <pre><p>   e-mail/phone: <input type="text" size="30" maxlength="40" name="User_email/phone"></p></pre>
            <pre><p>       Password: <input type="password" size="10" maxlength="10" name=User_password></p></pre>
            <pre><p>Repeat password: <input type="password" size="10" maxlength="10" name=Repeat_password></p></pre>
            <p><input type="submit" value="submit">
			   <input type="reset" name="reset" value="Reset"></p>
        </form>
    </div>
</body>
</html>
